@font-face {
    font-family: 'Caecilia';
    src: url('../fonts/caecilialtstd-roman-webfont.eot');
    src: url('../fonts/caecilialtstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caecilialtstd-roman-webfont.woff') format('woff'),
         url('../fonts/caecilialtstd-roman-webfont.ttf') format('truetype'),
         url('../fonts/caecilialtstd-roman-webfont.svg#caecilia_lt_std55_roman') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Caecilia';
    src: url('../fonts/caecilialtstd-bold-webfont.eot');
    src: url('../fonts/caecilialtstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caecilialtstd-bold-webfont.woff') format('woff'),
         url('../fonts/caecilialtstd-bold-webfont.ttf') format('truetype'),
         url('../fonts/caecilialtstd-bold-webfont.svg#caecilia_lt_std75_bold') format('svg');
    font-weight:  700;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-reg-webfont.eot');
    src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-reg-webfont.woff') format('woff'),
         url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

 /*!
  * Bootstrap v3.0.2 Grid
  */


.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.row:after {
  clear: both;
}
.col-sm-1,
.col-lg-1,
.col-sm-2,
.col-lg-2,
.col-sm-3,
.col-lg-3,
.col-sm-4,
.col-lg-4,
.col-sm-5,
.col-lg-5,
.col-sm-6,
.col-lg-6,
.col-sm-7,
.col-lg-7,
.col-sm-8,
.col-lg-8,
.col-sm-9,
.col-lg-9,
.col-sm-10,
.col-lg-10,
.col-sm-11,
.col-lg-11,
.col-sm-12,
.col-lg-12{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {
  float: left;
}
.col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.66666666666666%;
}
.col-sm-10 {
  width: 83.33333333333334%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.66666666666666%;
}
.col-sm-7 {
  width: 58.333333333333336%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.66666666666667%;
}
.col-sm-4 {
  width: 33.33333333333333%;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-2 {
  width: 16.666666666666664%;
}
.col-sm-1 {
  width: 8.333333333333332%;
}
.col-sm-pull-12 {
  right: 100%;
}
.col-sm-pull-11 {
  right: 91.66666666666666%;
}
.col-sm-pull-10 {
  right: 83.33333333333334%;
}
.col-sm-pull-9 {
  right: 75%;
}
.col-sm-pull-8 {
  right: 66.66666666666666%;
}
.col-sm-pull-7 {
  right: 58.333333333333336%;
}
.col-sm-pull-6 {
  right: 50%;
}
.col-sm-pull-5 {
  right: 41.66666666666667%;
}
.col-sm-pull-4 {
  right: 33.33333333333333%;
}
.col-sm-pull-3 {
  right: 25%;
}
.col-sm-pull-2 {
  right: 16.666666666666664%;
}
.col-sm-pull-1 {
  right: 8.333333333333332%;
}
.col-sm-pull-0 {
  right: 0%;
}
.col-sm-push-12 {
  left: 100%;
}
.col-sm-push-11 {
  left: 91.66666666666666%;
}
.col-sm-push-10 {
  left: 83.33333333333334%;
}
.col-sm-push-9 {
  left: 75%;
}
.col-sm-push-8 {
  left: 66.66666666666666%;
}
.col-sm-push-7 {
  left: 58.333333333333336%;
}
.col-sm-push-6 {
  left: 50%;
}
.col-sm-push-5 {
  left: 41.66666666666667%;
}
.col-sm-push-4 {
  left: 33.33333333333333%;
}
.col-sm-push-3 {
  left: 25%;
}
.col-sm-push-2 {
  left: 16.666666666666664%;
}
.col-sm-push-1 {
  left: 8.333333333333332%;
}
.col-sm-push-0 {
  left: 0%;
}
.col-sm-offset-12 {
  margin-left: 100%;
}
.col-sm-offset-11 {
  margin-left: 91.66666666666666%;
}
.col-sm-offset-10 {
  margin-left: 83.33333333333334%;
}
.col-sm-offset-9 {
  margin-left: 75%;
}
.col-sm-offset-8 {
  margin-left: 66.66666666666666%;
}
.col-sm-offset-7 {
  margin-left: 58.333333333333336%;
}
.col-sm-offset-6 {
  margin-left: 50%;
}
.col-sm-offset-5 {
  margin-left: 41.66666666666667%;
}
.col-sm-offset-4 {
  margin-left: 33.33333333333333%;
}
.col-sm-offset-3 {
  margin-left: 25%;
}
.col-sm-offset-2 {
  margin-left: 16.666666666666664%;
}
.col-sm-offset-1 {
  margin-left: 8.333333333333332%;
}
.col-sm-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-0 {
    right: 0%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-0 {
    left: 0%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

/* Typography */
body{
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3333333;
  color: #fff;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}

h2{
  text-align: center;
  margin-bottom: 15px;
  font-family: Caecilia, serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
}
h3{
  margin-bottom: 10px;
  font-family: Caecilia, serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
}
h4{
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 4px;
  font-weight: 400;
  margin: 10px 0 18px;
}

.subhead{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #96C8D2;
  margin-bottom: 35px;
}

a{
  color: #fff;
  text-decoration: none;
}

p{
  margin: 0 0 15px;
}

ul, ol{
  padding: 0;
}
li{
  padding: 0 0 25px 0;
}

/* Layout */
img{
  max-width: 100%;
  height: auto!important;
}
.container{
  margin: 0 auto;
  max-width: 960px;
  padding: 0 30px;
}

header,section{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 58px 0 108px;
}

header{
  background-image: url(../img/header.jpg);
}
#info{
  background: #fff;
}
#features{
  background-color: #A2B83E;
  background-image: url(../img/features.jpg);
  background-position: top center;
}

#plan{
  background:#fff;
}
.plan-img{
  width: 100%;
}
.plan-gradient{
  background:#251118;
  background-image: -webkit-linear-gradient(top, #251118 0, #501E46 100%);
  background-image: -moz-linear-gradient(top, #251118 0, #501E46 100%);
  background-image: -o-linear-gradient(top, #251118 0, #501E46 100%);
  background-image: -ms-linear-gradient(top, #251118 0, #501E46 100%);
  background-image: linear-gradient(top, #251118 0, #501E46 100%);
}

#reservations{
  background: #96C8D2;
}

/* Common */
.mark{
   background: url(../img/vector-sprite.png) top left no-repeat;
   background-image: none, url(../img/vector-sprite.svg);
}

.tab{
  display: block;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -97px;
  width: 194px;
  height: 50px;
  text-align: center;
  background-color: inherit;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 4px;
}
.tab:before{
  display: block;
  position: absolute;
  content:'';
  width: 100%;
  height: 12px;
  background: inherit;
  top: -6px;
  border-radius: 50%;
}

/* Sections */
header{
  padding: 125px 0 62px;
}

header .tab{
  top: 0;
  background-color: #96C8D2;
  height: 40px;
  width: 320px;
  margin-left: -160px;
}
header .tab:before{
  height:18px;
  top: auto;
  bottom: -9px;
  border-radius: 0 0 50% 50%;
}

header h1 img{
  display: block;
  max-width: 100%;
  margin: 0 auto 30px;
}

header .mark{
  position: absolute;
  top: 70px;
  right: 50px;
  width: 75px;
  height: 75px;
  background-position: -25px 0;
}

@media(max-width: 767px){
  header .mark{
    top: 50px;
    right: 0px;
    -webkit-transform: scale(.7);
  }
}

#info{
  color: #999;
}

#info .tab{
  width: 60px;
  margin-left: -30px;
  height: 24px;
  top: -24px;
}

.down-arrow{
  background: url(../img/vector-sprite.png) top left no-repeat;
  background-image: none, url(../img/vector-sprite.svg);
  display: inline-block;
  width: 24px;
  height: 13px;
  margin-top: 12px;
}

#info h2{
  color: #B5A990;
}

#info .subhead{
  color: #A5BC22;
}

#features{
  text-align: center;
  padding-bottom: 68px
}

#features .row{
  margin-top: 60px;
}

#features .col-sm-12{
  margin-bottom: 60px;
}

.feature{
  display: block;
  width: 216px;
  height: 217px;
  margin: 0 auto 30px;
  background: url(../img/raster-sprite.png) no-repeat top left;
}

.feature-center{
  background-position: -217px 0;
}
.feature-right{
  background-position: -433px 0;
}

#plan, #plan .tab{
  color: #ccc;
  padding-bottom: 0;
}

.plan-gradient {
  padding: 20px 0 120px;
}

#plan small{
  text-align: center;
  display: block;
  font-size: 10px;
  color: #666;
  margin-bottom: 40px;
}

#plan h2{
  color: #96C8D2;
}

#plan .col-lg-6{
  margin-top: 50px;
}

#plan h3{
  color: #A078A0;
}

span.zoom{
  margin: -5px 0 0 -10px;
  display: block;
  float: right;
  width: 21px;
  height: 30px;
  background: url(../img/vector-sprite.png) -1px -30px no-repeat;
  background-image: none, url(../img/vector-sprite.svg);
}

#plan img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row.thumbnails{
  margin-right: -10px;
  margin-left: -10px;
}

.row.thumbnails .col-sm-6, .col-sm-3{
  padding: 0 10px;
}

.row.thumbnails .fancybox{
  display: block;
}

.row.thumbnails img{
  width: 100%;
}
.row.thumbnails a + a img{
  margin-top: 20px;
}

#plan ul{
  color: #96C8D2;
}

#reservations h2{
  margin-bottom: 35px;
}

#reservations h3{
  color: #CAE3E8;
}

#reservations .phone{
  font-family: Caecilia, serif;
  font-size: 60px;
  font-weight: 700;
  margin: 30px 0 80px;
  line-height: 60px;
}
#reservations .phone small{
  font-size: 14px;
  line-height: 25px;
  vertical-align: top;
}

#reservations img{
  opacity: .5;
  max-width: 66%;
}

#reservations form .row{
  margin-left: -10px;
  margin-right: -10px;
}
#reservations form .col-lg-6{
  padding: 0 10px;
  margin-bottom: 20px;
}

#reservations .medium{
  width: 100%;
  height: 50px;
  border: none;
  background: #fff;
  padding: 15px;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  border-radius: 0;
}

#reservations select.medium{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#reservations .down-arrow{
  display: none;
  float: right;
  position: relative;
  z-index: 10;
  margin-top: -30px;
  margin-right: 10px;
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  -ms-transform: scale(.6);
  transform: scale(.6);
}


#reservations form .radio{
  text-indent: -999px;
}

#reservations form .radio + label{
  margin-top:9px;
  display: block;
  padding-left: 25px;
}
#reservations form .radio + label:before{
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-left: -25px;
  margin-right: 2px;
  border: 3px solid #fff;
  border-radius: 50%;
}
#reservations form .radio:checked + label:before{
  background: #461E3C;
}

#reservations .short{
  height: 40px;
  font-size: 16px;
}


#reservations form [disabled]{
  background: #ADD3DA;
}

#reservations form [disabled]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #D6E9ED;
}
#reservations form [disabled]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #D6E9ED;
}
#reservations form [disabled]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #D6E9ED;
}
#reservations form [disabled]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #D6E9ED;
}

#reservations .submit,
#reservations .submit[disabled]{
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  border: none;
  background-color: #461E3C;
}

#reservations .submit[disabled]{
  opacity: .5;
}

@media (max-width: 767px){
  #reservations .short{
    margin-top: -15px;
  }
  #reservations .submit{
    margin-top: 10px;
  }
}

footer{
  padding: 80px 0;
  color: #ccc;
  text-align: center;
}
footer .mark{
  margin: 0 auto 35px;
  width: 100px;
  height: 100px;
  background-position: 0 -76px;
}
footer p{
  color: #96C8D2;
  font-family: Caecilia, serif;
  margin-bottom: 10px;
}
footer small{
  font-size: 12px;
}




/* Helpers */
.pull-left,
.lg-pull-left{ float: left; }
.pull-right,
.lg-pull-right{ float: right; }

.clear-left{ clear: left; }
.clear-right{ clear: right; }
.clear-both{ clear: both; }

.hide, .hidden{
  display: none;
}

@media (max-width: 767px) {
  .only-lg{ display: none; }
  .lg-pull-right,
  .lg-pull-left{ float: none; }
}

@media (min-width: 768px) {
  .only-sm{ display: none; }
}


.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*
 * fancyBox v2.1.5 fancyapps.com
*/
.fancybox-image,.fancybox-inner,.fancybox-nav,.fancybox-nav span,.fancybox-outer,.fancybox-skin,.fancybox-tmp,.fancybox-wrap,.fancybox-wrap iframe,.fancybox-wrap object{padding:0;margin:0;border:0;outline:0;vertical-align:top}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.fancybox-opened{z-index:8030}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,.5);box-shadow:0 10px 25px rgba(0,0,0,.5)}.fancybox-inner,.fancybox-outer{position:relative}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}.fancybox-iframe,.fancybox-image{display:block;width:100%;height:100%}.fancybox-image{width:100%;height:100%;max-width:100%;max-height:100%}#fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{background-image:url(../img/fancybox_sprite.png)}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060}#fancybox-loading div{width:44px;height:44px;background:url(../img/fancybox_loading.gif) center center no-repeat}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url(../img/blank.gif);-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040}.fancybox-prev{left:0}.fancybox-next{right:0}.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}.fancybox-prev span{left:10px;background-position:0 -36px}.fancybox-next span{right:10px;background-position:0 -72px}.fancybox-nav:hover span{visibility:visible}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important}.fancybox-lock{overflow:hidden!important;width:auto}.fancybox-lock body{overflow:hidden!important}.fancybox-lock-test{overflow-y:hidden!important}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url(../img/fancybox_overlay.png)}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}.fancybox-title{visibility:hidden;font:400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}.fancybox-opened .fancybox-title{visibility:visible}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:0 0;background:rgba(0,0,0,.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:700;line-height:24px;white-space:nowrap}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{padding-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){#fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{background-image:url(../img/fancybox_sprite@2x.png);background-size:44px 152px}#fancybox-loading div{background-image:url(../img/fancybox_loading@2x.gif);background-size:24px 24px}}
